.message{
    padding: var(--default-space);
    background-color: white;
    color: var(--dark-blue);
    margin-bottom: var(--default-space);
}

.message.info {
    background-color: var(--color-info);
}

.message.error {
    background-color: var(--color-error);
    color:white;
}

.message.warning {
    background-color: var(--color-warning);
}

.message.success {
    background-color: var(--color-success);
}
