@import "./vars.css";

body{
    background-color: var(--light-yellow);
    color: var(--dark-blue);
    font-family: 'Lato', sans-serif;
    font-size: var(--default-font-size);
    min-height: 100vh
}

table{
    border:0;
    border-collapse: collapse;
}

table td, table th{
    border-collapse: collapse;
}